<h2>Edit <%= @member.name %></h2>
<form method="POST" action="/members/<%= @member.id %>" class="member-form">
  <div>
    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= @member.name %>" required />
    </div>
    <label for="premium">Membership:</label>
    <input type="radio" name="premium" value="t" <%= "checked" if @member.premium == true %>>Premium<br>
    <input type="radio" name="premium" value="f" <%= "checked" if @member.premium == false %>>Standard<br>
    <button type="cancel" onclick="window.location='/members';return false;">Cancel</button>
    <input type="submit" value="Update Member"/>
  </div>
</form>
<form method="post" action="/members/<%= @member.id %>/delete" class="member_delete">
  <input type="submit" value="Delete"/>
</form>

<h3>Classes:</h3>
<ul class="member-class-list">
  <% @member.gymclasses.each do |gymclass| %>
  <li class="member-class-list"><%= gymclass.time.strftime('%F %R') %> <%= gymclass.name %></li>
  <% end %>
</ul>