<h1><%= @member.name %></h1>

<p><%= @member.premium ? "Premium" : "Standard" %> Membership</p>

<button type="button" onclick="window.location='/members/<%= @member.id %>/edit';return false;">Edit Member Info</button>

<h3>Classes:</h3>
<ul class="member-class-list">
  <% @member.gymclasses.each do |gymclass| %>
  <li class="member-class-list"><%= gymclass.time.strftime('%F %R') %> <%= gymclass.name %></li>
  <% end %>
</ul>