<h1>Edit <%= @gymclass.name %></h1>
<form method="POST" action="/classes/<%= @gymclass.id %>">
<div class="form_row">
  <label for="name-field">Name:</label>
  <input type="text" name="name" id="name-field" value="<%= @gymclass.name %>" required/>
</div>
<div class="form_row">
  <label for="time">Time:</label>
  <input type="datetime-local" name="time" id="time-field" value="<%= @gymclass.time.strftime('%FT%T') %>" required />
<div class="form_row">
  <label for="spaces">Spaces:</label>
  <input type="number" name="spaces" id="spaces" min="0" value="<%= @gymclass.spaces %>" required/>
</div>
<div class="form_row_cta">
  <button onclick="window.location='/classes';return false;">Cancel</button>
  <input type="submit" value="Update Class"/>
</div>
<style type="text/css">
  div.form_row label, input{
    display: inline-block;
    width: 150px;
  }
  div.form_row_cta {
    width: 310px;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
  }
  div.form_row_cta button {
    background: transparent;
    text-decoration: underline;
    border: 0 none;

  }
  div.form_row_cta input[type="submit"] {
    font-size: 1.0em;
    padding: 10px;
  }
</style>
</form>

<form method="post" action="/classes/<%= @gymclass.id %>/delete">
  <input type="submit" value="Delete Class"/>
</form>

<h4>Members:</h4>
<table class="gymclass-booking-member-table">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
<% @gymclass.bookings.each do |booking| %>
<tr>
    <td><%= booking.member_name %></td>
    <td>
      <form method="post" action="/bookings/<%= booking.id %>/delete">
        <select name="gymclass_id" hidden>
          <option value="<%= @gymclass.id %>" selected><%= @gymclass.name %></option>
        </select>
        <input type="submit" value="Remove"/>
      </form>
    </td>
</tr>
<% end %>
</table>

<h4>Add Members:</h4>
<form method="POST" action="/bookings">
  <select name="member_id">
    <% @gymclass.available_members.each do |member| %>
    <option value="<%= member.id %>" ><%= member.name %></option>
    <% end %>
  </select>
  <select name="gymclass_id" hidden>
    <option value="<%= @gymclass.id %>" selected><%= @gymclass.name %></option>
  </select>
  <input type="submit">
</form>
