<div class="member-index-new-member-button">
  <button type="button" onclick="window.location='/classes/new';return false;">New Class</button>
</div>

<table hidden>
  <tr>
    <th>Name</th>
    <th>Date/Time</th>
    <th>Spaces</th>
    <th>Delete</th>
  </tr>
  <% for gymclass in @gymclasses %>
  <tr>
    <td><a href="/classes/<%= gymclass.id %>"><%= gymclass.name %></a></td>
    <td><%= gymclass.time.strftime('%F %R') %></td>
    <td><%= gymclass.spaces %></td>
    <td>
      <form method="post" action="/classes/<%= gymclass.id %>/delete">
        <input type="submit" value="Delete"/>
      </form>
    </td>
  </tr>
  <% end %>
</table>

<div class="schedule-grid">
  <% for i in 0..6 do %>
  <div class="schedule-column">
    <div class="schedule-title"><%= i == 0 ? "Today" : i == 1 ? "Tomorrow" : "#{(Time.now()+(60*60*24*i)).strftime('%a %e %b')}" %>
      <% gymclasses0 = GymClass.date_range("#{i}") %>
      <% for gymclass in gymclasses0 %>
      <div class="schedule-card <%= 'schedule-card-full' if gymclass.spaces == 0 %>">
        <a  href="/classes/<%= gymclass.id %>/edit">
        <div class="schedule-card-name"><%= gymclass.name %></div>
        <div class="schedule-card-time"><%= gymclass.time.strftime('%l:%M%P') %></div>
        <div class="schedule-card-peak"><%= gymclass.is_peak() ? "peak" : "off peak" %></div>
        <div class="schedule-card-spaces"><%= gymclass.spaces %> spaces</div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
  </div>
