<h1><%= @gymclass.name %></h1>

<p>Time: <%= @gymclass.time %></p>
<p>Spaces: <%= @gymclass.spaces %></p>

<a href="/classes/<%= @gymclass.id %>/edit">Edit</a>

<h3>Members:</h3>

<table class="gymclass-booking-member-table">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
<% @gymclass.bookings.each do |booking| %>
<tr>
    <td><%= booking.member_name %></td>
    <td>
      <form method="post" action="/bookings/<%= booking.id %>/delete">
        <input type="submit" value="Remove"/>
      </form>
    </td>
</tr>
<% end %>
</table>

<h3>Add Members:</h3>

<form method="POST" action="/bookings">
  <select name="member_id">
    <% @gymclass.available_members.each do |member| %>
    <option value="<%= member.id %>" ><%= member.name %></option>
    <% end %>
  </select>
  <select name="gymclass_id" hidden>
    <option value="<%= @gymclass.id %>" selected><%= @gymclass.name %></option>
  </select>
  <input type="submit">
</form>

<form hidden method="POST" action="/classes/add_members/<%= @gymclass.id %>">
<select name="add_multiple" multiple>
  <% @gymclass.available_members.each do |member| %>
  <option value="<%= member.id %>" <%= "selected" if @gymclass.members.map {|bookedmember| bookedmember.id}.include?(member.id) == true %>><%= member.name %></option>
  <% end %>
</select>
<input type="submit">
</form>